<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultural</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
   <header class="header">
    <a href="#" class="logo"><span>E</span>vent<span>S</span>phere</a>
    <nav class="navbar">
        <a href="index.html">Home</a>
        <a href="#about">About</a>
        <a href="#event">Events for you</a>
     </nav>
    <button class="button"><a href="#login">Organizer Login</a></button>
    <div id="menu-bars" class="fas fa-bars"></div>

   </header>
   <section class="home" id="home">
    <div class="content">
        <h3>Upcoming <span>Cultural </span>Events for you</h3>
        <div class="search-container">
            <input type="text" id="searchInput" class="search-input" placeholder="Search here...">
            <button class="search-button" onclick="search()">Search</button>
        </div>
        <div id="searchResults"></div>
    </div>
    
    </div>
    </section>

    <script src="script.js"></script>
    </body>
</html>